<html>
<head>

  {% load bootstrap3 %}
  {% bootstrap_css %}
{% bootstrap_javascript %}
  {% bootstrap_messages %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note</title>
</head>
<body>
  <form  method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}

{% bootstrap_button button_type="submit" content="Add" button_class="btn-success" %}



</form>
{% for d in data %}
<h3 class="text-primary">{{d.title}}</h3>
<pre>
  {{d.text}}
  {{d.pub_date}}
</pre>

{% endfor %}
</body>
</html>
